<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <ul>
        <li v-for="nome in nomes" v-text="nome">
          <!-- v-text coloca o texto aqui -->
        </li>
      </ul>

      <br>

      <label for="nome">Novo Nome:</label>
      <input id="nome" type="text" v-model="nome" @keyUp="digitar">
      <button v-on:click="addNome">+</button>

    </div>
    <script>
      let app = new Vue({
        el: '#root',
        data: {
          nome: "",
          nomes: [ "Descartes", "Sócrates", "Platão", "Aristóteles"]
        },
        /*
        |
        | methods é onde devem ficar todos os métodos do componente
        |
        */
        methods: {
          addNome() {
            this.nomes.push(this.nome);
            this.nome = "";
          },
          digitar() {
            console.log('digitou');
          }
        }
      });
    </script>
  </body>
</html>
